.contact{
    background: #FBF3F3;
    width: 98%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 100px;

}

form input, textarea{
    width: 100%;
    border-radius: 10px;
}

form{
    padding: 50px;
}

.contactForm{
    position: relative;
    width: 70%;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}


@media(max-width:668px){
    .contact{
        grid-template-columns: repeat(1, 1fr);
    }
    .contactForm{
        width: 100%;
    }
}