.feedback{
    padding: 100px;
    background: #EBF1EE;
    width: 98%;
    margin: 100px auto;
}

.say{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedbackCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.feedbackCard{
    padding: 50px;
    background: #ffffff;
    box-shadow: 10px 10px 5px lightgrey;
}

.feed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media(max-width:668px){
    .feedbackCards{
        grid-template-columns: repeat(1, 1fr);
    }
    .say{
        flex-wrap: wrap;
    }
    .feed{
        flex-wrap: wrap;
    }
}