.promote{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F6EAE0;
    width: 98%;
    margin: 100px auto;
}

.thoughts{
    padding: 50px;
}

.developer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devSpecific{
    display: flex;
    align-items: center;
}

.promoteImg img{
    width: 40vw;
}


@media(max-width: 668px){
    .promote{
        flex-wrap: wrap;
    }
    .promoteImg img{
        width: 100vw;
    }
}